* {
    margin:0;
    padding:0;
}

html, body {
    min-height: 100vh;
    font-family: 'Averia Serif Libre', Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: ivory;
    background-image: url(../images/script.jpg);
}

.column, .row {
    display: flex;
}

.column {
    justify-content: space-between;
}

.row {
    flex-flow: row wrap;
}

.center {
    align-items: center;
    justify-content: center;
}

.column {
    flex-flow: column;
}

header, footer {
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 3rem;
    padding: .5rem;
}

header {
    border-bottom: 1px solid goldenrod;
}

footer {
    border-top: 1px solid goldenrod;
}

h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 2rem;
    padding: 1rem;

}

h2 {
    font-style: italic;
    font-size: 1.5rem;
    padding: 1rem;
}

p {
    line-height: .75rem;
    padding: 1rem;
}

button { 
    padding: .5rem;
}

.wrapper {
    width: 80%;

}

.box {
    background-color: ivory;
    padding: 2rem;
    margin: 1.5rem;
    border: 1px dotted purple;
}